<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 올바른 정적 파일 경로를 사용하는지 확인 -->
    <link rel="stylesheet" href="{% static '/xterm.css' %}" />
    <script src="{% static '/socket.io/socket.io.js' %}"></script>
    <script src="{% static '/xterm.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div id="terminal"></div>
    <!-- 올바른 정적 파일 경로를 사용하는지 확인 -->
    <script src="{% static '/terminal.js' %}"></script>
</body>
</html>

