<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css?v=20">
    <title>EC2 인스턴스</title>
</head>
<body>
    <section class="box_center">
        <header>
            <h1>EC2 인스턴스 생성</h1>
        </header>
        <div class="main_box_create">
            <form action="{% url 'start_ec2_instance' %}" method="post" target="_blank">
                {% csrf_token %}
                <div>
                    <label for="tag_instance_name">인스턴스 유형 :</label>
                <select id="instance_type" name="instance_type">
                    <option value="t2.nano">t2.nano</option>
                    <option value="t2.micro">t2.micro</option>
                    <option value="t2.small">t2.small</option>
                </select>
                </div>
                <div>
                    <span><label for="tag_instance_name">인스턴스 이름 :</label></span>
                    <span><input type="text" id="tag_instance_name" name="tag_instance_name"></span>
                </div>
                <div>
                    <span><label for="tag_instance_hname">성함 :</label></span>
                    <span><input type="text" id="tag_instance_hname" name="tag_instance_hname"></span>
                </div>
                <div>
                    <span><label for="tag_instance_pnumber">전화번호 :</label></span>
                    <span><input type="text" id="tag_instance_pnumber" name="tag_instance_pnumber"></span>
                    
                </div>
                <div>
                    <span><label for="tag_instance_addr">주소 :</label></span>
                    <span><input type="text" id="tag_instance_addr" name="tag_instance_addr"></span>
                </div>
                <div>
                    <input class="input_sei" type="submit" value="Start EC2 Instance">
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>
