<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EC2 인스턴스</title>
</head>
<body>
    <h1>EC2 인스턴스 관리</h1>
    
    <div><a href="{% url 'instance_create' %}">EC2 생성</a></div>

    <h2>EC2 인스턴스 목록</h2>
    <ul>
        {% for reservation in instances.Reservations %}
        {% for instance in reservation.Instances %}
        <li>
            <p><span>인스턴스 ID :</span><span>{{ instance.InstanceId }}</span></p>
            {% for tag in instance.Tags %}
                {% if tag.Key == 'Name' %}
                    <p><span>이름:</span><span>{{ tag.Value }}</span></p>
                {% endif %}
            {% endfor %}
            <p><span>인스턴스 유형:</span><span>{{ instance.InstanceType }}</span></p>
            <p><span>퍼블릭 IP:</span><span>{% if instance.PublicIpAddress %}{{ instance.PublicIpAddress }}{% else %}N/A{% endif %}</span></p>
            <p><span>프라이빗 IP:</span><span>{% if instance.PrivateIpAddress %}{{ instance.PrivateIpAddress }}{% else %}N/A{% endif %}</span></p>
            <p><span>시작 시간:</span><span>{{ instance.LaunchTime|date:"Y년 m월 d일 H:i:s" }}</span></p>
            <p><span>고객:</span><span>{% for tag in instance.Tags %}{% if tag.Key == 'cus_name' %}{{ tag.Value }}{% endif %}{% endfor %}</span></p>
            <p><span>전화번호:</span><span>{% for tag in instance.Tags %}{% if tag.Key == 'cus_pnumber' %}{{ tag.Value }}{% endif %}{% endfor %}</span></p>
            <p><span>주소:</span><span>{% for tag in instance.Tags %}{% if tag.Key == 'cus_addr' %}{{ tag.Value }}{% endif %}{% endfor %}</span></p>
            <p><span>상태:</span><span>{{ instance.State.Name }}</span></p>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</body>
</html>
