<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form action="{% url 'start_ec2_instance' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Start_EC2_Instance">
    </form>
    <form action="{% url 'start_docker' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ user_id }}">
        <input type="submit" value="start_docker">
    </form>
    <p>User ID: {{ user_id }}</p>
</body>
</html>


































