@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
$border-color: #333;
@mixin custom_border {
    border: 1px solid $border-color;
  }
  .running {
    background-color: green;
    color: #fff;
}

.stopped {
    background-color: red;
    color: #fff;
}

.shutting-down {
    background-color: yellow;
    color: #fff;
}

.terminated {
    background-color: black;
    color: #fff;
}
.pending {
    background-color: blue;
    color: #fff;
}
.stopping {
    background-color: purple;
    color: #fff;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}
.clearFix::after {
    display: block;
    content: '';
    clear: both;
  }
  a{
    color: #333;
    text-decoration: none;
}
body{
    color: #333;
    font-size: 20px;
    padding: 1%;

    .box_center{
        margin: 0 auto;
        width: 800px;
        padding: 3%;
        box-sizing: border-box;
        @include custom_border;
        border-radius: 20px;

        header{

            h1{
                text-align: center;
            }
        }
        
        .instance_menu{
            padding:5% 0;

            >div{
                @include custom_border;
                width: 10%;
                padding: 0.5%;
                margin-left: 1%;
                float:right;
                font-size:100%;
                text-align: center;
                border-radius: 10px;
                cursor: pointer;

                button{
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    font-size:100%;
                    font-weight: normal;
                    cursor: pointer;
                }
            }
            
            div.admin_view{
                float: left!important;
                width: 15%;
            }

            div.refreshButton{
                width: 15%;
            }

            div.instance_create{
                width: 15%;
            }
        }

        .main_box{
            width: 100%;

            ul{
                >li{
                    width: 100%;
                    @include custom_border;
                    margin-bottom: 4%;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    display: flex;
                    align-items: center; /* 수직 정렬 */
                    justify-content: center; /* 수평 정렬 */
                    border-radius: 15px;
                    overflow: hidden;
                }
                li{

                    div.checkbox-container {
                        width: 10%;
                        text-align: center;
                        align-items: center;
                        box-sizing: border-box;

                        input{
                            cursor: pointer;
                        }
                    }
                    
                    div:nth-of-type(2){
                        width: 90%;
                        border-left: 1px solid #333;

                        p{
                            padding: 1%;
                            text-align: center;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
        .main_box_create{
            padding-top: 20px;

            div{
                padding: 10px 0;
                box-sizing: border-box;

                span{
                    display: inline-block;
                }

                span:nth-of-type(1){
                    width: 30%;
                }
                span:nth-of-type(2){
                    width: 69%;
                    border-bottom: 1px solid #eee;
                }
            }

            .input_sei{
                width: 70%;
                text-align: center;
                border: 1px solid #333;
                overflow: hidden;
                border-radius: 20px;
                margin: 0 15%;
                box-sizing: border-box;
            }
        }

    }
}